<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @my_thread.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @my_thread.content %>
</p>

<%= link_to 'Edit', edit_my_thread_path(@my_thread) %> |
<%= link_to 'Back', my_threads_path %>

<ul>
<% @my_thread.my_comments.each do |my_comment| %>
<li>
  <%= my_comment.content %>
  <%= link_to "Edit", edit_my_thread_my_comment_path(id: my_comment.id, my_thread_id: my_comment.my_thread_id) %>  
  <%= link_to "Delete", my_thread_my_comment_path(id: my_comment.id, my_thread_id: my_comment.my_thread_id), method: :delete, data: {confirm: "are you sure?"} %>  
</li>
<% end %>
</ul>

<%= link_to 'Comment', new_my_thread_my_comment_path(@my_thread) %> 
